html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.main-container {
    flex-grow: 1;
}

.cards {
    margin: 0 auto;
    max-width: 768px;
    display: none;
}

@media (min-width: 576px) {
    .cards {
        display: block;
    }
}