html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.main-container {
    flex-grow: 1;
}

.cards {
    margin: 0 auto;
    max-width: 768px;
    display: none;
}

@media (min-width: 576px) {
    .cards {
        display: block;
    }
}

.table .thead-dark th {
    background-color: #007bff!important;
    border-color: #1a85ff !important;
}

.action-col {
    min-width: 128px;
}

.table {
    border-radius: 6px;
    overflow: hidden;
}